
:root {
    --light-purple: #DBC4F0;
    --light-red: #FFCACC;
    --light-green: #D4E2D4;
    --cream: #FAF3F0;
    --light-yellow: #FEFAE0;
    --light-pink: #F8E8EE;
    --light-blue: #CDF5FD;
    --gray: #7D7C7C;
    --light-gray: #EEEEEE;
    --turquoise: #1AACAC;
    --yellow: #F2F7A1;
    --red: #EF4040;
    --pink: #C21292;
    --green: #527853;
    --orange: #EE7214;
    --blue: #3876BF;
}