.classes {
    width: 100%;
    display: flex;
    flex-direction: column;

    .wholeContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 40px;

        .classesContainer {
            display: flex;
            width: 90%;
        margin-top: 40px;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
            align-items: center;

            .classContainer {
                height: fit-content;
                width: 300px;
                background-color: var(--light-gray);
                padding: 10px;
                border-radius: 10px;
                display: flex;
                gap: 10px;
                flex-direction: column;
                align-items: center;

                button {
                    border: none;
                    outline: none;
                    cursor: pointer;
                    padding: 5px;
                    width: 150px;
                }

                .studentButton {
                    background-color: var(--light-purple);
                    transition: all ease-in-out 0.2s;
                    &:hover {
                        background-color: #caa8ea;
                    }
                }

                .courseButton {
                    background-color: white;
                    transition: all ease-in-out 0.2s;
                    &:hover {
                        background-color: var(--cream);
                    }
                }

                .viewButton {
                    background-color: var(--light-green);
                    transition: all ease-in-out 0.2s;
                    &:hover {
                        background-color: #bddebd;
                    }
                }
            }
        }
    }
}