.navbar {
  height: 50px;
  border-bottom: 0.5px solid rgb(231, 228, 228);
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #555;

  .wrapper {
    width: 100%;
    padding: 20px;

    @media screen and (max-width: 600px) {
      padding: 10px;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;

    .items {
      display: flex;
      align-items: center;

      ul {
        position: absolute;
        list-style: none;
        background-color: #edebf4;
        top: 50px;
        right: 50px;
        width: 200px;
        padding-left: 0;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        border-radius: 10px;
        z-index: 1000;

        li {
          width: 180px;
          padding: 10px;
          cursor: pointer;
          color: #555;
        }

        #more {
          color: #7451f8;
          background-color: white;
          cursor: pointer;
          border-radius: 5px;
          transition: all 0.3s ease-in-out;

          &:hover {
            background-color: #ebe8f5;
          }
        }
      }

      .item {
        display: flex;
        align-items: center;
        margin-right: 20px;
        position: relative;

        .icon {
          font-size: 20px;
          cursor: pointer;
        }

        .avatar {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
          cursor: pointer;
        }

        .counter {
          width: 15px;
          height: 15px;
          background-color: red;
          border-radius: 50%;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 10px;
          font-weight: bold;
          position: absolute;
          top: -5px;
          right: -5px;
        }
      }
    }
  }
}